{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Madini Tracechain 
</h1>

<h2 class="subtitle">
  Enhance Sustainability, Traceability, Trust, Brand Image And Consumer Confidence On Brands and Products.</h2>
 <img src="{{url_for('static', filename='hero.png')}}" align="middle" /> 
 <b>The best way to authenticate Brands and Products</b> 
 <br><br><br>
 <h1 class="title">
  Benefits of Madini TraceChain™   </h1>
<div class="col-md-22">
 <p style="text-align:justify">The operational implication is that companies must be able to see everything in their supply chains, trace where it came from, and trace where it went: from the smallest raw material inputs to finished products. Increasingly across industries, true sustainability also means companies must know what happens to their products beyond the point of sale. That redefines—or at least stretches—the current mission for many leaders overseeing supply chain design and management. It also demonstrates why viewing products through the customer’s eyes can be an important guide to determining how supply chains must evolve.</p> 
  </div>
   
<br><br>
    <h6 class="title">
      Sustainability is profitability </h6>
      <div class="col-md-12">
<p  style="text-align:justify">  The operational implication is that companies must be able to see everything in their supply chains, trace where it came from, and trace where it went: from the smallest raw material inputs to finished products. Increasingly across industries, true sustainability also means companies must know what happens to their products beyond the point of sale. That redefines—or at least stretches—the current mission for many leaders overseeing supply chain design and management. It also demonstrates why viewing products through the customer’s eyes can be an important guide to determining how supply chains must evolve.</p>  
        </div>

{% endblock %}

 
